.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 4.5em;
  font-family: 'Fuggles', cursive;
  padding-left:50px;
  padding-right: 50px;
}

div {
  align-items: stretch;
  display: grid;
  
  grid-template-columns: repeat(5, 1fr); 
  
  grid-template-rows: repeat(2, 1fr); 
  
  gap: 10px; 
  justify-content: center;


  }
.gallery-grid-item{
  border-top:20px;
}